<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
  <package id="SlackConnector" version="3.1.116" targetFramework="net451" />
  <package id="structuremap" version="4.0.1.318" targetFramework="net451" />
  <package id="websocket-sharp-with-proxy-support" version="1.9.1" targetFramework="net451" />
</packages>