<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="SlackConnector" version="3.1.151" targetFramework="net46" />
  <package id="StructureMap" version="4.4.2" targetFramework="net46" />
  <package id="websocket-sharp-with-proxy-support" version="1.9.1" targetFramework="net46" />
</packages>