<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net451" />
  <package id="FlatFile.Core" version="0.2.16" targetFramework="net451" />
  <package id="FlatFile.Core.Attributes" version="0.2.16" targetFramework="net451" />
  <package id="FlatFile.Delimited" version="0.2.16" targetFramework="net451" />
  <package id="FlatFile.Delimited.Attributes" version="0.2.16" targetFramework="net451" />
  <package id="FlickrNet" version="3.17.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
  <package id="SlackConnector" version="3.0.6043.39508" targetFramework="net451" />
  <package id="websocket-sharp-with-proxy-support" version="1.9.1" targetFramework="net451" />
  <package id="xFunc.Maths" version="2.15.16" targetFramework="net451" />
</packages>